body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(224, 241, 241);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.main{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: azure;
    position: relative;
    background-image: url('../img/img_2.svg');
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: right center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: white;
    box-shadow: 2px 2px 12px rgb(0,0,0,0.5);
    z-index: 1;
}

.menu{
    display: flex;
}

.menu li a {
    padding: 10px 15px;
    color: black;
    font-size: 12px;
}

.lang{
    color: black;
}

.menu li a:hover,
.active{
    background-color: #FF7F2A;
    color:#FFF!important;
    font-weight: 700;
    transition: all ease 0.4s;
    border-radius: 5px;
}

.hello{
    width: 500px;
    position: absolute;
    left: 20%;
    top: 55%;
    transform: translate(-20%,-50%);
}

.hello p:nth-child(1),
.hello .description{
    color: black;
    font-size: 16px;

}

.hello h1{
    font-size: 40px;
    margin: 0px;
    letter-spacing: 1px;
    color: black;
}

.btn_general{
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7F2A;
    color: #FFF;
    border-radius: 5px;
}

.btn_general:hover{
    background-color: #ff6600;
    transition: all ease0.5s;
}

.rrss{
    
    display: flex;
    bottom: 50px;
    left: 50px;
}

.rrss a{
    margin: 6px 12px;
}

.rrss i{
    color: #FF7F2A;
    font-size:  25px;
}

.rrss a:hover i{
    color: #ff6600;
    transition: all ease0.5s;
}

.sobre-mi{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5% 0px 5%;
    /* position: relative; */
    background-image: url('../img/sobre_mi_img.svg');
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: right center;
}

.sobre-mi-titulos{
    width: 50%;
}

.sobre-mi-titulos h1{
    font-size: 5rem;
    color: #FF7F2A;
    font-weight: 400;
}

.sobre-mi-titulos h1{
    font-size: 3rem;
    font-weight: 400;
}

.sobre-mi-titulos h1,h2{
    margin: 0px;
    padding: 0px;
}

.sobre-mi-titulos p{
    font-size: 1.5rem;
}
