:root{
    --main-color:  #FF7F2A;
    --hover-color: #ff6600;
    --text-color: black;
    --bg-color-2: #fffaf5;
    --bg-color-3: #757575;

}

html,body{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.header .main .navbar .navbar-brand{
    padding: 0.3rem 1rem; /*posicion attrib padding: top bottom left rigth */
}

.header .main .nav-item {
    margin-left: 0.5rem;
}

.header .main .navbar-text {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-color);
    margin-right: 0.5rem;
}

.header .main .nav-item .nav-link{
    text-transform: uppercase;
    font-weight: 600;
    padding: 1rem;
    color: var(--text-color);
}

.header .main .navbar-nav .active a{
    background-color: var(--main-color);
    color: var(--bg-color-2) !important;
    transition: all ease 0.4s;
    border-radius: 5px;
}


.header .main .navbar-nav a:hover{
    background-color: var(--hover-color);
    color: var(--bg-color-2) !important;
    transition: all ease 0.5s;
    border-radius: 5px;
}

.btn_general{
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--bg-color-2);
    border-radius: 5px;
    font-weight: 400;
}

.btn_general:hover{
    background-color: var(--hover-color);
    color:var(--bg-color-2) !important;
    transition: all ease 0.5s;
}

.btn_group_proyectos{
    width: 200px;
    height: 45px;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--bg-color-2);
    border-radius: 5px;
    font-weight: 400;
}

.btn_group_proyectos:hover{
    background-color: var(--hover-color);
    color:var(--bg-color-2) !important;
    transition: all ease 0.5s;
}

.rrss i{
    color: var(--main-color);
    font-size:  45px;

}

.rrss a:hover i{
    color: var(--hover-color);
    transition: all ease 0.5s;
}

.main-body .presentacion-section{
    padding-top: 10rem;
    height: 100%;
    padding-bottom: 15%;
}

.linea-titulo{
    width: 5rem;
    height: .25rem;
    margin-bottom: 1.25rem;
    background: var(--main-color);
    margin-left: auto;
    margin-right: auto;
}

.contacto-label{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contacto-label:after {
    content:'';
    position: absolute;
    background-color: var(--main-color);
    width: 7px;
    height: 80%;
    top: 2px;
    left:-15px;
}

.titulo-section{
    margin-bottom: 1rem;
    text-align: center;
}

.titulo-section h1{
    font-size: 30px;
}

.main-body .sobre-mi{
    background-color: var(--bg-color-2);
    padding: 1rem;
}

.main-body .sobre-mi .parrafo{
    margin-top: 5rem;
    color: black;
    font-weight: 400;
}

nav{
    background-color: var(--bg-color-2);
    box-shadow: 2px 2px 12px rgb(0,0,0,0.5);
}

.main-body .habilidades{
    padding: 1rem;
}

.main-body .habilidades .icon-habilidades i{
    color: var(--main-color);
    font-size:  30px;
    align-items: center;
}

.main-body .habilidades .icon-habilidades a:hover i{
    color: var(--hover-color);
    transition: all ease 0.5s;
}

.main-body .habilidades .especial_p{
    font-size: 10px;
    font-weight: bold;
    color: black;
    margin: 0.1rem;
}

.main-body .habilidades .card{
    margin: 0.5rem;
    height: 20rem;
}

.main-body .habilidades .card:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.main-body .empresas{
    padding: 2rem 5rem 8rem;
}

.main-body .empresas .img-emp{
    width: 270px;
    height: 70px;
    margin: 0.5em
}

.main-body .proyectos{
    padding: 2rem 5rem 8rem;
    background-color: var(--bg-color-2);
}

.footer{
    background: #222;
    text-align: center;
    place-items: center;
    color: var(--bg-color-2);
    padding: 5rem 0;
}

.rrss-footer i{
    color: var(--bg-color-2);
    font-size:  25px;
}

.main-body .habilidades .card .card-title {
    margin-bottom: 0.1rem;
}

.main-body .habilidades .card .card-text {
    font-size: 14px;
}

.linea_esp{ 
    border: 1px solid #d1d1d1;
}

#btn-idioma{
    background-color: #757575;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--bg-color-2);
}

.header .main .btn-group .dropdown-menu .dropdown-item{
    font-weight: 500;
    text-transform: capitalize;
}

.header .main .btn-group .dropdown-menu button:hover{
    background-color: var(--hover-color);
    color:var(--bg-color-2) !important;
    transition: all ease 0.5s;
    width: 100%;
    height: 100%;
}

.btn-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color: var(--main-color);
}

.lista-proyectos{
    counter-reset: list-counter;
    list-style: none;
}

.lista-proyectos li{
    letter-spacing: 0;
}


.lista-proyectos li i{
   color: var(--main-color);
   font-size: 20px;
   padding: 0.5em; 
}








